docker/node-red/data/flows.json
[{"id":"9b17f69e.58f5c8","type":"tab","label":"Setze Wecker","disabled":false,"info":""},{"id":"627a8399.1cfacc","type":"tab","label":"Rhasspy Intent Handling","disabled":false,"info":""},{"id":"40f78695.8acfa8","type":"websocket-client","z":"","path":"ws://rhasspy:12101/api/events/intent","tls":"","wholemsg":"true"},{"id":"53a7318.5fb72d","type":"mqtt-broker","z":"","name":"mosquitto","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8dc808e8.13ecc8","type":"websocket in","z":"627a8399.1cfacc","name":"","server":"","client":"40f78695.8acfa8","x":220,"y":340,"wires":[["206aa152.9100de"]]},{"id":"206aa152.9100de","type":"switch","z":"627a8399.1cfacc","name":"Intent Switch","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"SetAlarm","vt":"str"},{"t":"eq","v":"TurnLightOn","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":340,"wires":[["3e330849.b04cd8"],[]]},{"id":"3e330849.b04cd8","type":"link out","z":"627a8399.1cfacc","name":"SetzeWecker","links":["831146b4.680438"],"x":755,"y":300,"wires":[]},{"id":"831146b4.680438","type":"link in","z":"9b17f69e.58f5c8","name":"","links":["3e330849.b04cd8","ffb585e9.12bd08","c5d19791.6060d8"],"x":215,"y":160,"wires":[["23b41672.8e595a"]]},{"id":"23b41672.8e595a","type":"http request","z":"9b17f69e.58f5c8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://flask:5000/alarm","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":160,"wires":[["4ed3daa1.5a8444"]]},{"id":"4ed3daa1.5a8444","type":"debug","z":"9b17f69e.58f5c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":160,"wires":[]}]