docker/node-red/data/lib/flows/ChangeLightColor.json
[{"id":"97d54f1a.0531d","type":"tab","label":"ChangeLightColor","disabled":false,"info":""},{"id":"c344eba4.c30738","type":"websocket in","z":"97d54f1a.0531d","name":"","server":"","client":"1d297aa8.732005","x":180,"y":40,"wires":[["ed1f4773.307418"]]},{"id":"ed1f4773.307418","type":"switch","z":"97d54f1a.0531d","name":"","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"ChangeLightColor","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":40,"wires":[["495c0cce.c61204"]]},{"id":"495c0cce.c61204","type":"link out","z":"97d54f1a.0531d","name":"","links":["2a6f451d.2e49da"],"x":635,"y":40,"wires":[]},{"id":"2a6f451d.2e49da","type":"link in","z":"97d54f1a.0531d","name":"ChangeLightColor","links":["495c0cce.c61204"],"x":65,"y":120,"wires":[["f285ab23.7b2118","615cffc1.9f058"]]},{"id":"f285ab23.7b2118","type":"function","z":"97d54f1a.0531d","name":"","func":"var newMsg = {\n    topic: 'zigbee2mqtt/' + msg.slots.room + '/set',\n    payload: {\n        color: msg.slots.color\n    }\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":140,"wires":[["73592557.f3f51c"]]},{"id":"73592557.f3f51c","type":"mqtt out","z":"97d54f1a.0531d","name":"","topic":"","qos":"","retain":"","broker":"a12a7af1.df6c08","x":540,"y":140,"wires":[]},{"id":"615cffc1.9f058","type":"function","z":"97d54f1a.0531d","name":"","func":"var room = msg.entities.find(element => element.entity == 'room');\nvar color = msg.entities.find(element => element.entity == 'color');\nvar newMsg = {\n    topic: 'hermes/tts/say',\n    payload: {\n        text: 'Okay, ich Schalte das ' + room.raw_value +  ' Licht auf Farbe ' + color.raw_value\n    }\n};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":240,"wires":[["80477925.050dd8"]]},{"id":"80477925.050dd8","type":"mqtt out","z":"97d54f1a.0531d","name":"Feedback","topic":"","qos":"","retain":"","broker":"a12a7af1.df6c08","x":610,"y":240,"wires":[]},{"id":"1d297aa8.732005","type":"websocket-client","z":"","path":"ws://rhasspy:12101/api/events/intent","tls":"","wholemsg":"true"},{"id":"a12a7af1.df6c08","type":"mqtt-broker","z":"","name":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]