docker/node-red/data/lib/flows/ChangeLightBrightness.json
[{"id":"b88ee4ee.de82e8","type":"tab","label":"ChangeLightBrightness","disabled":false,"info":""},{"id":"61650268.ca2ccc","type":"websocket in","z":"b88ee4ee.de82e8","name":"","server":"","client":"40f78695.8acfa8","x":160,"y":40,"wires":[["bbcad0ac.f5c35"]]},{"id":"bbcad0ac.f5c35","type":"switch","z":"b88ee4ee.de82e8","name":"","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"ChangeLightBrightness","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":40,"wires":[["464fc53a.7aa53c"]]},{"id":"464fc53a.7aa53c","type":"link out","z":"b88ee4ee.de82e8","name":"","links":["d1507bc3.b81498"],"x":615,"y":40,"wires":[]},{"id":"d1507bc3.b81498","type":"link in","z":"b88ee4ee.de82e8","name":"ChangeLightBrightness","links":["464fc53a.7aa53c"],"x":45,"y":120,"wires":[["3804dcdf.4b2224","b4961bda.88f898"]]},{"id":"3804dcdf.4b2224","type":"function","z":"b88ee4ee.de82e8","name":"","func":"var newMsg = {\n    topic: 'zigbee2mqtt/' + msg.slots.room + '/set',\n    payload: {\n        brightness: msg.slots.brightness\n    }\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":140,"wires":[["acd6405a.259b2"]]},{"id":"acd6405a.259b2","type":"mqtt out","z":"b88ee4ee.de82e8","name":"","topic":"","qos":"","retain":"","broker":"7f3cac66.a88ba4","x":520,"y":140,"wires":[]},{"id":"b4961bda.88f898","type":"function","z":"b88ee4ee.de82e8","name":"","func":"var room = msg.entities.find(element => element.entity == 'room');\nvar brightness = msg.entities.find(element => element.entity == 'brightness');\nvar newMsg = {\n    topic: 'hermes/tts/say',\n    payload: {\n        text: 'Okay, ich Schalte das ' + room.raw_value +  ' Licht auf Helligkeit stufe ' + brightness.raw_value\n    }\n};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":240,"wires":[["1c78b90.1715847"]]},{"id":"1c78b90.1715847","type":"mqtt out","z":"b88ee4ee.de82e8","name":"Feedback","topic":"","qos":"","retain":"","broker":"7f3cac66.a88ba4","x":590,"y":240,"wires":[]},{"id":"40f78695.8acfa8","type":"websocket-client","z":"","path":"ws://rhasspy:12101/api/events/intent","tls":"","wholemsg":"true"},{"id":"7f3cac66.a88ba4","type":"mqtt-broker","z":"","name":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]