docker/node-red/data/lib/flows/ChangeLightColor.json
[{"id":"192b9815.ec6158","type":"tab","label":"ChangeLightColor","disabled":false,"info":""},{"id":"9e080fec.9325b","type":"websocket in","z":"192b9815.ec6158","name":"","server":"","client":"40f78695.8acfa8","x":180,"y":40,"wires":[["61d01029.2c7c3"]]},{"id":"61d01029.2c7c3","type":"switch","z":"192b9815.ec6158","name":"","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"ChangeLightColor","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":40,"wires":[["99c39ecc.9e3a5"]]},{"id":"99c39ecc.9e3a5","type":"link out","z":"192b9815.ec6158","name":"","links":["ceab6e45.5bef1"],"x":635,"y":40,"wires":[]},{"id":"ceab6e45.5bef1","type":"link in","z":"192b9815.ec6158","name":"ChangeLightColor","links":["99c39ecc.9e3a5"],"x":75,"y":200,"wires":[["5dfb4074.d21d7","91a0a17.8443c6"]]},{"id":"5dfb4074.d21d7","type":"function","z":"192b9815.ec6158","name":"","func":"var newMsg = {\n    topic: 'zigbee2mqtt/' + msg.slots.room + '/set',\n    payload: {\n        color: {\n            hex: msg.slots.hex\n        }\n    }\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":200,"wires":[["ac3ac7f2.0b14f8"]]},{"id":"91a0a17.8443c6","type":"function","z":"192b9815.ec6158","name":"","func":"var room = msg.entities.find(element => element.entity == 'room');\nvar color = msg.entities.find(element => element.entity == 'hex');\nvar newMsg = {\n    topic: 'hermes/tts/say',\n    payload: {\n        text: 'Okay, ich Schalte das ' + room.raw_value +  ' Licht auf Farbe ' + color.raw_value\n    }\n};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":300,"wires":[["7cc799b4.514638"]]},{"id":"ac3ac7f2.0b14f8","type":"mqtt out","z":"192b9815.ec6158","name":"","topic":"","qos":"","retain":"","broker":"7f3cac66.a88ba4","x":530,"y":200,"wires":[]},{"id":"7cc799b4.514638","type":"mqtt out","z":"192b9815.ec6158","name":"Feedback","topic":"","qos":"","retain":"","broker":"7f3cac66.a88ba4","x":600,"y":300,"wires":[]},{"id":"40f78695.8acfa8","type":"websocket-client","z":"","path":"ws://rhasspy:12101/api/events/intent","tls":"","wholemsg":"true"},{"id":"7f3cac66.a88ba4","type":"mqtt-broker","z":"","name":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]