docker/node-red/data/lib/flows/LightAPIFlow_Raw.json
[{"id":"9b9c3b9d.e90598","type":"tab","label":"LightAPIFlow_Raw","disabled":false,"info":""},{"id":"ac43cc42.78c85","type":"websocket in","z":"9b9c3b9d.e90598","name":"","server":"","client":"28528890.bd64b8","x":180,"y":60,"wires":[["e8a045bf.16b2f8"]]},{"id":"e8a045bf.16b2f8","type":"switch","z":"9b9c3b9d.e90598","name":"","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"SwitchLight","vt":"str"},{"t":"eq","v":"ChangeLightColor","vt":"str"},{"t":"eq","v":"ChangeLightBrightness","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":470,"y":60,"wires":[["f812e179.ea82b"],["8832bdea.b956f"],["56bea1fd.c8576"]]},{"id":"f812e179.ea82b","type":"link out","z":"9b9c3b9d.e90598","name":"","links":["eb507bf7.da5e28"],"x":675,"y":20,"wires":[]},{"id":"eb507bf7.da5e28","type":"link in","z":"9b9c3b9d.e90598","name":"SwitchLight","links":["f812e179.ea82b"],"x":55,"y":360,"wires":[["d5c1da91.54d008"]]},{"id":"5d11849d.491d8c","type":"link in","z":"9b9c3b9d.e90598","name":"ChangeLightColor","links":["8832bdea.b956f"],"x":55,"y":400,"wires":[["d5c1da91.54d008"]]},{"id":"2003c32d.64cb1c","type":"link in","z":"9b9c3b9d.e90598","name":"ChangeLightBrightness","links":["56bea1fd.c8576"],"x":55,"y":440,"wires":[["d5c1da91.54d008"]]},{"id":"8832bdea.b956f","type":"link out","z":"9b9c3b9d.e90598","name":"","links":["5d11849d.491d8c"],"x":675,"y":60,"wires":[]},{"id":"56bea1fd.c8576","type":"link out","z":"9b9c3b9d.e90598","name":"","links":["2003c32d.64cb1c"],"x":675,"y":100,"wires":[]},{"id":"abfdf7d5.20a0e8","type":"debug","z":"9b9c3b9d.e90598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":640,"y":200,"wires":[]},{"id":"36a92b15.acccf4","type":"http request","z":"9b9c3b9d.e90598","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://flask:5000/light/set/raw","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":400,"wires":[[]]},{"id":"d5c1da91.54d008","type":"function","z":"9b9c3b9d.e90598","name":"","func":"var newMsg = {\n    payload: msg,\n    headers: {\n        'Content-Type': 'application/json'\n    }\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":400,"wires":[["36a92b15.acccf4"]]},{"id":"28528890.bd64b8","type":"websocket-client","z":"","path":"ws://rhasspy:12101/api/events/intent","tls":"","wholemsg":"true"}]