docker/node-red/data/lib/flows/LightAPIFlow.json
[{"id":"c9e82928.4afd98","type":"tab","label":"LightAPIFlow","disabled":false,"info":""},{"id":"605bf504.61ecec","type":"websocket in","z":"c9e82928.4afd98","name":"","server":"","client":"28528890.bd64b8","x":200,"y":60,"wires":[["2b283cc7.17a264"]]},{"id":"2b283cc7.17a264","type":"switch","z":"c9e82928.4afd98","name":"","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"SwitchLight","vt":"str"},{"t":"eq","v":"ChangeLightColor","vt":"str"},{"t":"eq","v":"ChangeLightBrightness","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":490,"y":60,"wires":[["f9177764.d01ea8"],["de0a9b4d.4e0d88"],["4f829dd9.185f04"]]},{"id":"f9177764.d01ea8","type":"link out","z":"c9e82928.4afd98","name":"","links":["ac6552fd.087ba"],"x":695,"y":20,"wires":[]},{"id":"ac6552fd.087ba","type":"link in","z":"c9e82928.4afd98","name":"SwitchLight","links":["f9177764.d01ea8"],"x":75,"y":360,"wires":[["5fa9b19c.e456"]]},{"id":"5270ca1.a4e0434","type":"link in","z":"c9e82928.4afd98","name":"ChangeLightColor","links":["de0a9b4d.4e0d88"],"x":75,"y":400,"wires":[["5fa9b19c.e456"]]},{"id":"7dbba7aa.759ef8","type":"link in","z":"c9e82928.4afd98","name":"ChangeLightBrightness","links":["4f829dd9.185f04"],"x":75,"y":440,"wires":[["5fa9b19c.e456"]]},{"id":"de0a9b4d.4e0d88","type":"link out","z":"c9e82928.4afd98","name":"","links":["5270ca1.a4e0434"],"x":695,"y":60,"wires":[]},{"id":"4f829dd9.185f04","type":"link out","z":"c9e82928.4afd98","name":"","links":["7dbba7aa.759ef8"],"x":695,"y":100,"wires":[]},{"id":"5fa9b19c.e456","type":"function","z":"c9e82928.4afd98","name":"","func":"var room = msg.entities.find(entity => entity.entity == 'room')\nvar state = msg.entities.find(entity => entity.entity == 'state')\nvar brightness = msg.entities.find(entity => entity.entity == 'brightness')\nvar color = msg.entities.find(entity => entity.entity == 'color') \nvar raw_text = msg.raw_text\n\nvar json = {\n    friendly_name: room.value,\n    payload: {\n        state: state !== undefined ? state.value : undefined,\n        brightness: brightness !== undefined ? brightness.value : undefined,\n        color: color !== undefined ? color.value : undefined\n    },\n    feedback: {\n        text: 'Okay, ' + raw_text\n    }\n}\n\nreturn json;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":400,"wires":[["5067b555.2c7c3c"]]},{"id":"67ea8cf0.1b66c4","type":"debug","z":"c9e82928.4afd98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":660,"y":200,"wires":[]},{"id":"9db3354c.4274c8","type":"http request","z":"c9e82928.4afd98","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://flask:5000/light/set","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":400,"wires":[[]]},{"id":"5067b555.2c7c3c","type":"function","z":"c9e82928.4afd98","name":"","func":"var newMsg = {\n    payload: msg,\n    headers: {\n        'Content-Type': 'application/json'\n    }\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":400,"wires":[["9db3354c.4274c8"]]},{"id":"28528890.bd64b8","type":"websocket-client","z":"","path":"ws://rhasspy:12101/api/events/intent","tls":"","wholemsg":"true"}]