docker/node-red/data/lib/flows/LightAPIFlow.json
[{"id":"29cb43dd.74004c","type":"tab","label":"LightAPIFlow","disabled":false,"info":""},{"id":"212caeb4.693462","type":"websocket in","z":"29cb43dd.74004c","name":"","server":"","client":"40f78695.8acfa8","x":200,"y":60,"wires":[["1b7794b3.79ed1b"]]},{"id":"1b7794b3.79ed1b","type":"switch","z":"29cb43dd.74004c","name":"","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"SwitchLight","vt":"str"},{"t":"eq","v":"ChangeLightColor","vt":"str"},{"t":"eq","v":"ChangeLightBrightness","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":490,"y":60,"wires":[["c7c55dfb.75304"],["3f1e03c1.7ff0ec"],["45206d96.f490a4"]]},{"id":"c7c55dfb.75304","type":"link out","z":"29cb43dd.74004c","name":"","links":["3ac0187b.200fb8"],"x":695,"y":20,"wires":[]},{"id":"3ac0187b.200fb8","type":"link in","z":"29cb43dd.74004c","name":"SwitchLight","links":["c7c55dfb.75304"],"x":75,"y":360,"wires":[["8a1f99b7.ff1578"]]},{"id":"6e631b00.7cf994","type":"link in","z":"29cb43dd.74004c","name":"ChangeLightColor","links":["3f1e03c1.7ff0ec"],"x":75,"y":400,"wires":[["8a1f99b7.ff1578"]]},{"id":"b122f1cb.528f1","type":"link in","z":"29cb43dd.74004c","name":"ChangeLightBrightness","links":["45206d96.f490a4"],"x":75,"y":440,"wires":[["8a1f99b7.ff1578"]]},{"id":"3f1e03c1.7ff0ec","type":"link out","z":"29cb43dd.74004c","name":"","links":["6e631b00.7cf994"],"x":695,"y":60,"wires":[]},{"id":"45206d96.f490a4","type":"link out","z":"29cb43dd.74004c","name":"","links":["b122f1cb.528f1"],"x":695,"y":100,"wires":[]},{"id":"8a1f99b7.ff1578","type":"function","z":"29cb43dd.74004c","name":"","func":"var room = msg.entities.find(entity => entity.entity == 'room')\nvar state = msg.entities.find(entity => entity.entity == 'state')\nvar brightness = msg.entities.find(entity => entity.entity == 'brightness')\nvar color = msg.entities.find(entity => entity.entity == 'color') \nvar raw_text = msg.raw_text\n\nvar json = {\n    friendly_name: room.value,\n    payload: {\n        state: state !== undefined ? state.value : undefined,\n        brightness: brightness !== undefined ? brightness.value : undefined,\n        color: color !== undefined ? color.value : undefined\n    },\n    feedback: {\n        text: 'Okay, ' + raw_text\n    }\n}\n\nreturn json;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":400,"wires":[["3dcbcbfa.4bd194"]]},{"id":"7b83a278.6d959c","type":"debug","z":"29cb43dd.74004c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":660,"y":200,"wires":[]},{"id":"cf32f847.d83eb8","type":"http request","z":"29cb43dd.74004c","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://flask:5000/light/set","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":400,"wires":[[]]},{"id":"3dcbcbfa.4bd194","type":"function","z":"29cb43dd.74004c","name":"","func":"var newMsg = {\n    payload: msg,\n    headers: {\n        'Content-Type': 'application/json'\n    }\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":400,"wires":[["cf32f847.d83eb8"]]},{"id":"40f78695.8acfa8","type":"websocket-client","z":"","path":"ws://rhasspy:12101/api/events/intent","tls":"","wholemsg":"true"}]