docker/node-red/data/lib/flows/RhasspyIntentHandler.json
[{"id":"b73b7ca6.9cb41","type":"tab","label":"Rhasspy Intent Handling","disabled":false,"info":""},{"id":"c4b2db37.1a3a68","type":"websocket in","z":"b73b7ca6.9cb41","name":"","server":"","client":"e8e6fee6.c1106","x":220,"y":340,"wires":[["9b2fd76f.5c9968"]]},{"id":"9b2fd76f.5c9968","type":"switch","z":"b73b7ca6.9cb41","name":"Intent Switch","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"SetAlarm","vt":"str"},{"t":"eq","v":"TurnLightOn","vt":"str"},{"t":"eq","v":"DeleteAlarm","vt":"str"},{"t":"eq","v":"StopAlarm","vt":"str"},{"t":"eq","v":"ChangeAlarmSound","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":590,"y":340,"wires":[["fc95e746.14f3f8"],[],["8bbbfee5.88b4b"],["b0f07851.11d478"],["b39a0338.31bd9"]]},{"id":"fc95e746.14f3f8","type":"link out","z":"b73b7ca6.9cb41","name":"SetzeWecker","links":["e23822b3.da7"],"x":755,"y":300,"wires":[]},{"id":"8bbbfee5.88b4b","type":"link out","z":"b73b7ca6.9cb41","name":"LöscheWecker","links":["949cc338.b41cb"],"x":755,"y":340,"wires":[]},{"id":"b0f07851.11d478","type":"link out","z":"b73b7ca6.9cb41","name":"StoppeWecker","links":["af7ca6a5.fbec78"],"x":755,"y":380,"wires":[]},{"id":"b39a0338.31bd9","type":"link out","z":"b73b7ca6.9cb41","name":"ChangeAlarmSound","links":["21630b3b.107b04"],"x":755,"y":420,"wires":[]},{"id":"e8e6fee6.c1106","type":"websocket-client","z":"","path":"ws://rhasspy:12101/api/events/intent","tls":"","wholemsg":"true"}]