docker/node-red/data/lib/flows/RhasspyIntentHandler.json
[{"id":"627a8399.1cfacc","type":"tab","label":"Rhasspy Intent Handling","disabled":false,"info":""},{"id":"8dc808e8.13ecc8","type":"websocket in","z":"627a8399.1cfacc","name":"","server":"","client":"40f78695.8acfa8","x":220,"y":340,"wires":[["206aa152.9100de"]]},{"id":"206aa152.9100de","type":"switch","z":"627a8399.1cfacc","name":"Intent Switch","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"SetAlarm","vt":"str"},{"t":"eq","v":"TurnLightOn","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":340,"wires":[["3e330849.b04cd8"],[]]},{"id":"3e330849.b04cd8","type":"link out","z":"627a8399.1cfacc","name":"SetzeWecker","links":["831146b4.680438"],"x":755,"y":300,"wires":[]},{"id":"40f78695.8acfa8","type":"websocket-client","z":"","path":"ws://rhasspy:12101/api/events/intent","tls":"","wholemsg":"true"}]