docker/node-red/data/lib/flows/SetAlarm.json
[{"id":"7629ce94.d7c49","type":"tab","label":"Wecker","disabled":false,"info":""},{"id":"e23822b3.da7","type":"link in","z":"7629ce94.d7c49","name":"","links":["fc95e746.14f3f8"],"x":215,"y":160,"wires":[["4a275002.96cdd"]]},{"id":"d175448a.f84fe8","type":"http request","z":"7629ce94.d7c49","name":"POST /alarm","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://flask:5000/alarm","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":160,"wires":[["9ba24b52.42c7a8"]]},{"id":"9ba24b52.42c7a8","type":"debug","z":"7629ce94.d7c49","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":160,"wires":[]},{"id":"4a275002.96cdd","type":"function","z":"7629ce94.d7c49","name":"convert to api params","func":"msg.payload = {\n        id: 0,\n        hours: msg.slots.alarm_hour,\n        minutes: msg.slots.alarm_minute,\n        active: 1\n    }\n    \nmsg.headers = {}\nmsg.headers['Content-Type'] = 'application/x-www-form-urlencoded'\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":160,"wires":[["d175448a.f84fe8"]]},{"id":"949cc338.b41cb","type":"link in","z":"7629ce94.d7c49","name":"","links":["8bbbfee5.88b4b"],"x":215,"y":260,"wires":[["53457bd8.489d44"]]},{"id":"53457bd8.489d44","type":"function","z":"7629ce94.d7c49","name":"convert to api params","func":"msg.payload = {\n        id: 0\n    }\n    \nmsg.headers = {}\nmsg.headers['Content-Type'] = 'application/x-www-form-urlencoded'\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":260,"wires":[["97b38a3.0c9a378"]]},{"id":"97b38a3.0c9a378","type":"http request","z":"7629ce94.d7c49","name":"DELETE /alarm","method":"DELETE","ret":"txt","paytoqs":"ignore","url":"http://flask:5000/alarm","tls":"","persist":false,"proxy":"","authType":"","x":580,"y":260,"wires":[["575b5a95.b7ad24"]]},{"id":"575b5a95.b7ad24","type":"debug","z":"7629ce94.d7c49","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":260,"wires":[]},{"id":"af7ca6a5.fbec78","type":"link in","z":"7629ce94.d7c49","name":"","links":["b0f07851.11d478"],"x":215,"y":360,"wires":[["48335d7f.d71e94"]]},{"id":"48335d7f.d71e94","type":"function","z":"7629ce94.d7c49","name":"convert to api params","func":"msg.payload = {\n        id: 0\n    }\n    \nmsg.headers = {}\nmsg.headers['Content-Type'] = 'application/x-www-form-urlencoded'\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":360,"wires":[["fa6d781e.972d88"]]},{"id":"fa6d781e.972d88","type":"http request","z":"7629ce94.d7c49","name":"POST /alarm/stop","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://flask:5000/alarm/stop","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":360,"wires":[["f516be59.ba982"]]},{"id":"f516be59.ba982","type":"debug","z":"7629ce94.d7c49","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":360,"wires":[]},{"id":"21630b3b.107b04","type":"link in","z":"7629ce94.d7c49","name":"","links":["b39a0338.31bd9"],"x":215,"y":460,"wires":[["e9653a6.e86f0c8"]]},{"id":"e9653a6.e86f0c8","type":"function","z":"7629ce94.d7c49","name":"convert to api params","func":"msg.payload = {\n        id: 0,\n        sound: msg.slots.alarm_sound\n    }\n    \nmsg.headers = {}\nmsg.headers['Content-Type'] = 'application/x-www-form-urlencoded'\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":460,"wires":[["7031e8e3.20e688"]]},{"id":"7031e8e3.20e688","type":"http request","z":"7629ce94.d7c49","name":"POST /alarm/sound","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://flask:5000/alarm/sound","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":460,"wires":[["7f619065.07c5e"]]},{"id":"7f619065.07c5e","type":"debug","z":"7629ce94.d7c49","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":460,"wires":[]}]