docker/node-red/data/lib/flows/SetAlarm.json
[{"id":"9b17f69e.58f5c8","type":"tab","label":"Setze Wecker","disabled":false,"info":""},{"id":"831146b4.680438","type":"link in","z":"9b17f69e.58f5c8","name":"","links":["3e330849.b04cd8","ffb585e9.12bd08","c5d19791.6060d8"],"x":215,"y":160,"wires":[["c3db5109.0fe1f"]]},{"id":"23b41672.8e595a","type":"http request","z":"9b17f69e.58f5c8","name":"POST /alarm","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://flask:5000/alarm","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":160,"wires":[["4ed3daa1.5a8444"]]},{"id":"4ed3daa1.5a8444","type":"debug","z":"9b17f69e.58f5c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":160,"wires":[]},{"id":"c3db5109.0fe1f","type":"function","z":"9b17f69e.58f5c8","name":"convert to api params","func":"msg.payload = {\n        id: 0,\n        hours: msg.slots.alarm_hour,\n        minutes: msg.slots.alarm_minute,\n        active: 1\n    }\n    \nmsg.headers = {}\nmsg.headers['Content-Type'] = 'application/x-www-form-urlencoded'\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":160,"wires":[["23b41672.8e595a"]]}]