docker/node-red/data/lib/flows/SwitchLight.json
[{"id":"743fdd4c.8490f4","type":"tab","label":"SwitchLight","disabled":false,"info":""},{"id":"c0188196.77d1c","type":"websocket in","z":"743fdd4c.8490f4","name":"","server":"","client":"40f78695.8acfa8","x":200,"y":80,"wires":[["4f9a67e2.2c90f8"]]},{"id":"4f9a67e2.2c90f8","type":"switch","z":"743fdd4c.8490f4","name":"","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"SwitchLight","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":80,"wires":[["de83368d.6af0b8"]]},{"id":"d7bda4b0.a64c78","type":"link in","z":"743fdd4c.8490f4","name":"SwitchLight","links":["de83368d.6af0b8"],"x":75,"y":220,"wires":[["e76ba9dc.c312e8","2dc0669a.fa44ca"]]},{"id":"de83368d.6af0b8","type":"link out","z":"743fdd4c.8490f4","name":"","links":["d7bda4b0.a64c78"],"x":655,"y":80,"wires":[]},{"id":"e76ba9dc.c312e8","type":"function","z":"743fdd4c.8490f4","name":"","func":"var newMsg = {\n    topic: 'zigbee2mqtt/' + msg.slots.room + '/set',\n    payload: {\n        state: msg.slots.state\n    }\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":220,"wires":[["bc91970b.359788"]]},{"id":"bc91970b.359788","type":"mqtt out","z":"743fdd4c.8490f4","name":"Set Light","topic":"","qos":"","retain":"","broker":"7f3cac66.a88ba4","x":700,"y":220,"wires":[]},{"id":"2dc0669a.fa44ca","type":"function","z":"743fdd4c.8490f4","name":"","func":"var newMsg = {\n    topic: 'hermes/tts/say',\n    payload: {\n        text: 'Okay, ich ändere das Licht'\n    }\n};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":320,"wires":[["cab93fe8.25106"]]},{"id":"cab93fe8.25106","type":"mqtt out","z":"743fdd4c.8490f4","name":"Feedback","topic":"","qos":"","retain":"","broker":"7f3cac66.a88ba4","x":710,"y":320,"wires":[]},{"id":"c09188cf.a10308","type":"comment","z":"743fdd4c.8490f4","name":"TODO: Besseres Feedback durch Raumname","info":"","x":610,"y":400,"wires":[]},{"id":"40f78695.8acfa8","type":"websocket-client","z":"","path":"ws://rhasspy:12101/api/events/intent","tls":"","wholemsg":"true"},{"id":"7f3cac66.a88ba4","type":"mqtt-broker","z":"","name":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]